body {
    color:rgb(0, 0, 0);

}

header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

li{
    float: left;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #222;
  }
  
  .active {
    background-color: #04AA6D;
  }
  </style>
  </head>
  <body>
  
  <ul>