body{
  background-image: url ("background.webp");
  background-size: cover;
  font-family: sans-serif;
}

header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

li{
    float: left;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #222;
  }
  
  .active {
    background-color: #121212;
  }
  </style>
  </head>.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Style the dropdown */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    margin: 0;
  }
  
  /* Change background color on hover for both links and dropdown buttons */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Style the dropdown links */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Change background color on hover for dropdown links */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Display the dropdown content when hovering over the dropdown */
  .dropdown:hover .dropdown-content {
    display: grid;
  }
  
  <body>
  <ul>